*{
	margin: 0;
	font-family:'Open Sans', sans-serif;
	box-sizing: border-box;
}
body{
	margin:0;
	background: #fc4a1a;  /* fallback for old browsers */
	background: -webkit-linear-gradient (to right, rgba(247,183,51,0.4), rgba(252,74,26,0.4) );  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(247,183,51,0.4), rgba(252,74,26,0.4) ), url(../img/img1_1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
}

.logo-logo{
	height:100px; 
	width:200px; 
	float:left; 
	display:block;
	background: url(../img/Logo.png);
	background-size: 200px;
	margin-bottom:30px;
	margin-left: 20px;
}

.logo-logo a{
	display: block; 
	height:100px; 
	width:200px;
	
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}
nav a{
	color: #ffff;
	font-weight: 300;
	text-decoration:none;
	margin-right:10px;
}
nav a:hover{
	text-decoration: underline;
}

.contenedor{
	width:100%;
	padding:15px;
}

.formulario{
	width: 50%;
	background: #ffff;
	margin-top: 140px;
	margin-left: 360px;
	padding:20px;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.formulario h1{
	text-align: center;
	color: #FF9E00;
	font-size:40px;
}
input[type="text"],
input[type="password"]{
	font-size:20px;
	width:82%;
	padding:20px;
	border:none;
}

.input-contenedor{
	margin-bottom:15px;
	border: 1px solid #aaa;
}
.icon{
	min-width: 50px;
	text-align: center;
	color: #999;
}

.button{
	border: none;
	width:100%;
	color: white;
	font-size: 20px;
	background: #FF9E00;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover{
	background: black;
}

.contenedor p{
	text-align:center;
}

.link{
	text-decoration: none;
	color: #FF9E00;
	font-weight: 600;
}
.link:hover{
	color: black;
}

footer{
	background: #000000;
	padding: 40px 0 30px 0;
	margin:auto;
	overflow: hidden;
	width:100%;
	height:180px;
	margin-top:150px;
}

.contenedor-footer{
	display:flex;
	width:90%;
	justify-content: space-evenly;
	margin:auto;
	padding-bottom:20px;
	border-bottom: 1px solid #fff;
}


.content-foo{
	text-align: center;
}

.content-foo h4{
	color: #ffff;
	border-bottom:3px solid #FF9E00;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.content-foo p{
	color: #fff;
}

.titulo-final{
	text-align: center;
	font-size: 15px;
	margin:15px 0 0 0;
	color: #9e9797
}


/* CONTACTO */

.contacto{
	display: flex;
	height:100px;
	width:100%;
	align-items: center;
	justify-content: center;
	text-align:center;
	color: #FF9E00;
}

.contenedor-contacto{
	width:70%;
	height: 650px;
	background: white;
	display: block;
	margin-top: 150px;
	margin-left: 200px;
	padding-top:30px;
	padding-left: 30px;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); 
}

.izquierda{
	width: 350px;
	height: auto;
	overflow:hidden;
	padding-top:10px;
	float:left;
	margin-left: 30px;
	padding-bottom:5px;
}

.texto-contacto{
	text-align:left;
}

.derecha{
	width:400px;
	height: auto;
	overflow: hidden;
	float:right;
	margin-right:52px;
}
.textarea{
	width: 82%;
	height: 150px;
}

.mapa{
	width:600px; 
	height:500px;
	margin-left:30px;
}

.mapa-contacto{
	width: 400px;
	height: 300px;
	padding-top:30px;
}


/*CATALOGO*/

.contenedor-catalogo{
	width:70%;
	height: 1300px;
	background: white;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	margin-top: 150px;
	margin-left: 200px;
	padding-top:30px;
	padding-left: 30px;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); 
}

.contenedor-producto img{
	width:200px;
}

.contenedor-producto{
	margin:10px;
	padding: 2px 16px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	background:white;
}
.contenedor-producto:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.contenedor-producto h2{
	text-align:center;
	
}
.contenedor-producto h1{
	text-align:center;
	
}





